{% extends "base.html.jinja" %}
{% block content %}
    <p>Julia Mękarska</p>
    <img src="https://i.pinimg.com/originals/e6/29/49/e6294964e26db35f05e41e25e689b19d.gif" width="250" height="300" class="rounded float-end" alt="Fajny kot przed komputerem">
{% endblock content %}