{% extends "base.html.jinja" %}
{% block content %}
    <h2>Download product's opinion</h2>
    <form action="{{url_for('extract')}}" method="POST">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="product_id" class="col-form-label">Product code</label>
            </div>
            <div class="col-auto">
                <input type="text" id="product_id" name="product_id" class="form-control">
            </div>
            <div class="col-auto" style="color:rgb(135, 82, 210)">
            <input type="submit" class="btn" value="Downald">
            </div>
        </div>
    </form>
{% endblock content %}